# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# Get your OpenRouter API Key here: https://openrouter.ai/keys
OPENROUTER_API_KEY=****

# Local PostgreSQL database connection
# Format: postgresql://username:password@host:port/database
POSTGRES_URL=postgresql://postgres:password@localhost:5432/fereelab

# Local Redis connection
# Format: redis://host:port or redis://host:port/database
REDIS_URL=redis://localhost:6379
